/**************/
/* CSS REMEDY */
/**************/
*, *::after, *::before {
  box-sizing:border-box;  
}






/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--textcolor:white;
	--backgroundcolor:rgb(35, 35, 40);
}

body {
	background-color: var(--backgroundcolor);
	color: var(--textcolor);
}




/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

